{% extends "base.html.twig" %}

{% block body %}

	{# admin/configurations/job-offers-config #}
	<div class="container">
		<a href="{{path('app_admin_config_index')}}" class="btn btn-primary my-4">back to configurations</a>
		<h1 class="mb-4">Job Offer Configurations</h1>
		{{include('admin/configurations/job-offers-config/partial/_form-config.html.twig', {btnText : "Create"})}}

	</div>
{% endblock %}
