<div class="bg-light p-4 rounded-2 my-4 shadow-sm item">
	{{form_row(form.name)}}
	{{form_row(form.status)}}

	<div>
		<button type="button" class="btn btn-danger btn-remove">remove</button>
	</div>
</div>
