{% extends "base.html.twig" %}
{% block body %}


	<div class="container">
		<a href="{{path('app_job_offer_admin_index')}}" class="btn btn-info">back</a>
		<h1>NEW JOB OFFER</h1>
		{{form_start(form)}}


		{{form_end(form)}}

	</div>
{% endblock %}
