.cursor-pointer {
  cursor: pointer;
}
.alert-position {
  position: fixed;
  bottom: 50px;
  right: 20px;
}

button[data-entry-action="add"] {
  align-self: center;
}

div#license_config_licenses fieldset,
div#job_offers_configuration_categories fieldset,
div#job_offers_configuration_tags fieldset,
div#role_config_roles fieldset {
  background-color: rgb(223, 223, 223);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(223, 223, 223, 0.8);
}
