<h1>Hi!</h1>
<p>You received an invitation to collaborate into Jobteq platform as recruiter</p>
<p>This invitation has been sent by
	{{invitation.senderFirstname}}
	{{invitation.senderLastname}}
	from
	{{invitation.company}}</p>
<p>You can just click on the link below in order to accept your invitation</p>
<a href="{{invitation.url}}">accept your invitation</a>
