<header class="p-3 text-bg-primary bg-gradient">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5 fs-3">
				JOBTEQ
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="{{path('app_home')}}" class="nav-link px-2 text-white">Home</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Find a job</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">Find a company</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">FAQs</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 text-white">About</a>
				</li>
			</ul>


			{% if app.user  %}
				{% include "job_offer_admin/_user-menu.html.twig" %}

			{% else %}

				<div class="text-end">
					<a href="{{path('app_login')}}" class="btn btn-outline-light me-2">Login</a>
					<a href="{{path('app_register')}}" class="btn btn-warning">Sign-up</a>
				</div>
			{% endif %}

		</div>
	</div>
</header>
