<div class="card" style="width: 18rem;">
	<img src="https://placehold.co/400x400" class="card-img-top" alt="">
	<div class="card-body">
		<h5 class="card-title">{{jobOffer.title}}</h5>
		<p class="card-text">{{jobOffer.description}}</p>
		<a href="{{path('app_job_offer_public', { slug: jobOffer.slug})}}" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
