{% extends 'base.html.twig' %}

{% block title %}JOBTEQ | DASHBOARD
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mb-4 text-center my-4">MY DASHBOARD</h1>


		{# {% include "user/partials/dashboard/_dashboard-complete-registration.html.twig" %} #}
		{% if app.user.getRoles|length == 1 and app.user.getRoles[0] == "ROLE_USER" %}


			{% elseif is_granted('ROLE_RECRUITER') %}
				{% include "user/partials/dashboard/_dashboard-recruiter.html.twig" %}
			{% elseif is_granted('ROLE_MANAGER') %}
				{% include "user/partials/dashboard/_dashboard-manager.html.twig" %}
			{% elseif is_granted('ROLE_CANDIDATE') %}
				{% include "user/partials/dashboard/_dashboard-candidate.html.twig" %}

		{% endif %}


	</div>
{% endblock %}
