{% extends 'base.html.twig' %}

{% block title %}JOBTEQ | DASHBOARD
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mb-4">MY DASHBOARD</h1>


		{% if app.user.getRoles|length == 1 and app.user.getRoles[0] == "ROLE_USER" %}

			{% include "user/partials/_dashboard-complete-registration.html.twig" %}

		{% elseif is_granted('ROLE_RECRUITER') %}
			{% include "user/partials/_dashboard-recruiter.html.twig" %}
		{% elseif is_granted('ROLE_MANAGER') %}
			{% include "user/partials/_dashboard-manager.html.twig" %}
		{% elseif is_granted('ROLE_CANDIDATE') %}
			{% include "user/partials/_dashboard-candidate.html.twig" %}

		{% endif %}


	</div>
{% endblock %}
